/* Fonts */
/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/open-sans-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('../fonts/open-sans-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v15-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/* open-sans-700 - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/open-sans-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url('../fonts/open-sans-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/open-sans-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/open-sans-v15-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/open-sans-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/open-sans-v15-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* montserrat-300 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/montserrat-v12-latin-300.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Light'), local('Montserrat-Light'),
    url('../fonts/montserrat-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v12-latin-300.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v12-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('../fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
    url('../fonts/montserrat-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/montserrat-v12-latin-700.woff') format('woff'), /* Modern Browsers */
    url('../fonts/montserrat-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/montserrat-v12-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

/* General */
html, body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #58585a;
}
body {
    position: relative;
}
h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    color: #00acd6;
}
h2 {
    margin-top: 1px;
    margin-bottom: 45px;
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h2:after {
    display: block;
    margin: 10px auto 0;
    width: 75px;
    height: 3px;
    border-bottom: 2px solid #00acd6;
    content: "";
}
h4 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #58585a;
    text-transform: uppercase;
    letter-spacing: 1px;
}
h5 {
    margin-bottom: 15px;
    font-weight: bold;
    color: #00acd6;
}
a {
    color: #58585a;
    text-decoration: none;
}
a:hover,
a:focus,
a:active {
    color: #929395;
    text-decoration: none;
}
p {
    margin-bottom: 24px;
}
em {
    color: #00acd6;
    font-style: normal;
    font-weight: bold;
}
hr {
    border-color: #c7c7c7;
}
.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.img-center {
    margin: 0 auto;
    width: 100%;
}
.text-center {
    text-align: center;
}
.container {
    max-width: 970px;
}
.arrow {
    background: url('../images/arrow.svg') no-repeat left center;
    background-size: 7px 10px;
    padding-left: 15px;
    font-weight: bold;
    color: #58585a;
}
.modal-backdrop.in {
    opacity: 0.8;
}

/* Navigation */
nav {
    font-size: 16px;
    line-height: 24px;
}
nav.navbar {
    margin-bottom: 0;
    border: 0;
    min-height: 114px;
}
nav .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
}
nav .navbar-brand img {
    margin-top: 30px;
    margin-bottom: 30px;
}

nav.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
}
nav.navbar-default ul {
    margin-top: 50px;
}
nav.navbar-default .navbar-nav > li > a {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 16px;
    font-weight: normal;
    text-transform: uppercase;
    color: #8f8779;
    letter-spacing: 1.1px;
}
nav.navbar-default .navbar-nav > li.active > a,
nav.navbar-default .navbar-nav > li.active > a:hover,
nav.navbar-default .navbar-nav > li.active > a:focus,
nav.navbar-default .navbar-nav > li.active > a:active,
nav.navbar-default .navbar-nav > li > a:hover,
nav.navbar-default .navbar-nav > li > a:focus,
nav.navbar-default .navbar-nav > li > a:active {
    color: #00acd6 !important;
    background-color: inherit;
}
nav.navbar-default .navbar-nav li:last-child > a {
    padding-right: 0;
}
nav.navbar-default .navbar-toggle {
    border: medium none;
}
nav.navbar-default .navbar-toggle:focus,
nav.navbar-default .navbar-toggle:hover {
    background-color: inherit;
}

/* Header Image */
#header {
    margin-bottom: 35px;
    background-color: #fcf7f3;
    color: #ffffff;
}
#header p {
    margin-bottom: 0;
}
#header h4 {
    margin: 0 0 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #00323c;
    text-transform: uppercase;
}
#header h5 {
    margin: 0 0 3px 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #00323c;
}
#header div.header-box-wrapper {
    position: absolute;
    top: 0;
    left: 15px;
}
#header div.header-box {
    padding: 25px;
    max-width: 400px;
    background-color: #00acd6;
}
#header div.header-box-1 {
    margin-top: 45px;
    margin-bottom: 5px;
}
#header table:nth-of-type(1) {
    margin-bottom: 35px;
}
#header table > tbody > tr {
    border-top: 1px solid #ffffff;
}
#header table > tbody > tr:last-child {
    border-bottom: 1px solid #ffffff;
}
#header table > tbody > tr > td {
    padding-top: 3px;
    padding-bottom: 3px;
}
#header table > tbody > tr > td:nth-of-type(1) {
    width: 100%;
}
#header table > tbody > tr > td:nth-of-type(2) {
    background: url('../images/icon_phone_small.svg') no-repeat left;
    background-size: 13px 13px;
    padding-left: 25px;
    white-space: nowrap;
}

#carousel {
    margin-top: 35px;
    margin-bottom: 80px;
}
.carousel-control.left {
    background-image: none;
}
.carousel-control.right {
    background-image: none;
}
.carousel-control {
    top: 50%;
    left: 0;
    width: 50px;
    margin-top: -25px;
}
.carousel-indicators {
    margin-bottom: -53px;
}
.carousel-indicators li {
    margin: 1px 2px;
    background-color: #e6e5e1;
    border: inherit;
}
.carousel-indicators .active {
    margin: 1px 2px;
    height: 10px;
    width: 10px;
    background-color: #00acd6;
}
.stoerer {
    position: absolute;
    width: 15%;
    top: -8%;
    right: 3%;
    z-index: 1;
}

/* Team */
#team {
    margin-bottom: 20px;
}
#team img {
    margin-bottom: 40px;
}

/* Marcus Grunert */
#marcus .col-md-6 {
    margin-bottom: 25px;
}
#marcus hr {
    margin-top: 0;
    margin-bottom: 50px;
}
#marcus hr.bottom {
    margin-top: 20px;
}
#marcus table > tbody > tr > td {
    line-height: 26px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: top;
}
#marcus table > tbody > tr > td:nth-of-type(1) {
    padding-right: 20px;
    white-space: nowrap;
}

/* Employees */
#employees {
    margin-bottom: 30px;
}
#employees .col-sm-4 {
    margin-bottom: 40px;
}
#employees img {
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}
#employees h4 {
    margin-top: 35px;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
}

/* Leistungen */
#leistungen {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #f4f3f0;
}
#leistungen h5 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
    color: #58585a;
    border-bottom: 1px solid #D6D6D7;
}
#leistungen h5 > span.check {
    margin-right: 10px;
    width: 35px;
    min-width: 35px;
    height: 44px;
    background: url('../images/icon_check.svg') no-repeat left;
    background-size: 35px 35px;
}
#leistungen .col-md-4 {
    margin-bottom: 15px;
}

/* Kontakt */
#kontakt {
    margin-top: 70px;
    margin-bottom: 55px;
}
#kontakt h2 {
    margin-bottom: 60px;
}
#kontakt h4 {
    margin-bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: center;
    color: #00acd6;
}
#kontakt .col-icon {
    margin-bottom: 30px;
}
#kontakt .col-icon p {
    margin-bottom: 0;
}
#kontakt p.large {
    padding-top: 18px;
    font-size: 22px;
    line-height: 22px;
}
#kontakt .col-sm-4:nth-of-type(2) {
    border-right: 1px solid #cfd1d2;
    border-left: 1px solid #cfd1d2;
}
#kontakt hr {
    margin-top: 10px;
    margin-bottom: 35px;
}

/* Aaron Illu */
.aaron-illu-image-wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #d9f0f6;
}

.aaron-illu-image-wrapper img {
    margin: 0 auto;
}

body.aaron-illu  h2 {
    margin-top: 50px;
}

body.aaron-illu p {
    margin-bottom: 30px;
}

body.aaron-illu .box
{
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #fbf7f3;
}

body.aaron-illu .media-left,
body.aaron-illu .media>.pull-left {
    padding-right: 20px;
}

body.aaron-illu .media-heading:first-child {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #707070;
    font-weight: bold;
    text-transform: none;
}

body.aaron-illu .media-heading {
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: none;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 680px;
    }
}
@media only screen and (min-width: 992px) {
    .modal {
        display: flex;
        align-items: center;
    }
}

.modal .modal-content {
    border-radius: 0;
}

.modal .modal-body {
    padding: 0;
}

.modal .modal-header {
    border-bottom: 0;
}

.modal button.close {
    display: block;
    float: none;
    width: 100%;
    font-size: 30px;
    font-weight: 300;
    text-align: right;
    vertical-align: middle;
}

.modal  .overlay {
    position: absolute;
    left: 0;
    top: 20px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1000;
}

.modal  .overlay .line {
    display: inline-block;
    padding: 8px 20px 8px 20px;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    background-color: #4cadd3;
    color: #fff;
}

.modal  .overlay .line:not(:last-child) {
    margin-bottom: 5px;
}

.modal .modal-body .content {
    padding-left: 15px;
    padding-right: 15px;
}

.modal .modal-body .headline {
    margin-top: 30px;
}

@media only screen and (min-width: 992px) {
    .modal .modal-body .content {
        padding-left: 30px;
        padding-right: 30px;
    }

    .modal .modal-body .headline {
        margin-top: 0;
    }

}

.modal .modal-body p {
    font-size: 15px;
}

.modal button.close span.text {
    display: inline-block;
    margin-top: -7px;
    text-transform: uppercase;
    font-size: 14px;
    vertical-align: middle;
}

.modal .btn {
    display: block;
    width: 160px;
    background-color: #4cadde;
    border-color: #4cadde;
    border-radius: 0;
    text-transform: uppercase;
}

.modal .btn:active,
.modal .btn:focus,
.modal .btn:hover {
    opacity: 0.8;
}

.modal .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.modal .row {
    margin-right: 0;
    margin-left: 0;
}

.modal  .image-container {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.modal  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.modal .aaron-illu-image-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
}

.modal h2 {
    font-size: 20px;
}

@media only screen and (max-width: 991px) {
    .modal h2 {
        padding-bottom: 20px;
    }

    .modal .btn {
        margin: 0 auto;
    }
}

/* Karriere */
.karriere .karriere-full-image-wrapper img {
    width: 100%;
}

.karriere h5 {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #00acd6;
}

.karriere .btn {
    display: block;
    width: 160px;
    background-color: #4cadde;
    border-color: #4cadde;
    border-radius: 0;
    text-transform: uppercase;
}

.karriere .btn:active,
.karriere .btn:focus,
.karriere .btn:hover {
    opacity: 0.8;
}

.karriere .bg-beige {
    background-color: #fbf7f3;
}

.karriere .box.box-beige {
    padding: 40px;
}

.karriere .bg-blue {
    background-color: rgba(76, 173, 211, 0.1);
}

.karriere .box.box-blue {
    padding: 40px;
}

/* Impressum */
body.imprint h2 {
    margin-top: 50px;
}
body.imprint p {
    margin-bottom: 30px;
}
body.imprint footer {
    margin-top: 50px;
}

/* Footer */
footer {
    height: 120px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 25px;
    background-color: #00acd6;
}
footer img {
    margin-top: 40px;
}
footer p {
    margin-top: 40px;
    color: #00323c;
}
footer a {
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none !important;
    text-transform: uppercase;
}
footer a:hover,
footer a:focus,
footer a:active {
    color: #ffffff;
    text-decoration: underline;
}

/* Media Queries */
@media only screen and (max-width: 991px) {
    #header div.header-box {
        max-width: 350px;
    }
    #header div.header-box-1 {
        margin-top: 10px;
    }

    #marcus h4 {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 767px) {
    nav.navbar {
        min-height: 54px;
    }
    nav .navbar-brand img {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    nav.navbar-default ul {
        margin-top: 7px;
    }
    nav.navbar-default .navbar-nav li > a {
        text-align: right;
    }
    nav.navbar-default .navbar-nav li:last-child > a {
        padding-right: 15px;
    }
    nav.navbar-default .navbar-collapse {
        border: medium none;
    }

    #header div.header-box-wrapper {
        position: relative;
        top: auto;
        left: auto;
    }
    #header div.header-box-1 {
        margin-top: 0;
    }
    #header div.header-box {
        max-width: 100%;
        width: 100%;
    }

    .stoerer {
        display: none;
    }
    #carousel {
        margin-top: 20px;
    }

    #employees img {
        width: 80%;
    }

    #kontakt .col-icon {
        margin-bottom: 45px;
    }
    #kontakt .col-icon p {
        font-size: 15px;
    }

    #kontakt p.large {
        font-size: 20px;
    }

    footer {
        font-size: 13px;
        line-height: 20px;
    }
    footer p {
        margin-top: 45px;
    }
    body.imprint h2 {
        font-size: 18px;
        line-height: 26px;
    }
}
